################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Hazel
/bin-int/Debug~x64/Hazel/Hazel.tlog
/bin-int/Debug~x64/Sandbox/Sandbox.tlog
/bin-int/Debug~x64/Sandbox
/bin-int/Debug~x64/Hazel
/bin-int/Debug-windows-x86_64/Hazel/Hazel.tlog
/bin-int/Debug-windows-x86_64/Sandbox/Sandbox.tlog
/bin/Debug-windows-x86_64
/bin-int/Debug-windows-x86_64
/.vs
